{% load static %}
<!doctype html >
<html>
    <head>
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/index.css' %}", rel="stylesheet">
        <link href="{% static 'favicon.ico' %}" rel="icon" >
    </head>
    <body>
        <div class="appbar"><img src="{% static 'favicon.ico' %}"></div>
        {% block content %}{% endblock %}
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>

