{% load static %}
<!doctype html >
<html>
    <head>
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/index.css' %}", rel="stylesheet">
        <link href="{% static 'favicon.ico' %}" rel="icon" >
    </head>
    <body>
        <div id=container>
            <div class=header>
                <img src="{% static 'logo.png' %}" alt="ths-logo" srcset="">
            </div>
            {% block content %}{% endblock %}
            <script src="{% static 'index.js' %}"></script>
        </div>
    </body>
</html>

