{% load static %}
<!doctype html >
<html>
    <head>
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/index.css' %}", rel="stylesheet">
        <link href="{% static 'favicon.ico' %}" rel="icon" >
    </head>
    <body>
        <div class="appbar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48" fill="black">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
            <img class="right" src="{% static 'favicon.ico' %}">
        </div>
        {% block content %}{% endblock %}
        <script src="{% static 'index.js' %}"></script>
    </body>
</html>

