{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class=hero>
    <div class=hero-content>
        <h2 class=hero-title>400% Returns on Investment</h2>
        <p><b>The Plan:</b> you sow a seed or seeds, leave it to grow for a year and then get unreasonable high yields
        </p>

        <p>No Marketing Pyramid, No Ponzi Scheme, No Referrals.</p>

        <p>Ready to grow money?</p>
        <Button class="hero-button"><a href="{% url 'website:signup' %}">Form &rarr;</a></Button>
        <p>Note: Limited slot available, offer lasts for 7days</p>
    </div>
    <section>
        <h3>Benefits</h3>
        <p></p>
    </section>
    <section>
        <h3>FAQ</h3>
        <h4>What is the catch?</h4>
        <p>There is no catch</p>
    </section>
    </section>
</div>
{% endblock %}
