{% extends "base.html"%}
{% block title %}Signup{% endblock %}

{% block content %}
<main class=container>
    <form method=post >
        <div class=seperator>
            <h2 class=register> Register </h2>
            <p>Please fill in your correct informaton</p>
            <p>Fill all the boxes except the Ref_id box</p>
        </div>
        <hr>
        {{ form.as_p }}
        {% csrf_token%}
        <input type="submit" Value="submit">
    </form>
    <script src="">
        window.onload = () => {
            function generate4DigitNumber() {
                // Generate the random number
                const randomNumber = Math.floor(Math.random() * 9000) + 1000;

                // Ensure 4-digit string with leading zeros

                document.getElementById("myForm").value = randomNumber;
            }
        }
    </script>
</main>
{% endblock %}