{% extends "base.html"%}
{% block title %}Signup{% endblock %}

{% block content %}
<main class="container">
    <h2 class=register> Register </h2>
    <p class="instruction"style="text-align: center;">Please fill in your correct informaton</p>
    <div class="card">
        <form method=post>
            <hr>
            {{ form.as_p }}
            {% csrf_token%}
            <div id="Ref_id">
                <p>Please type in the number above into the box</p>
            </div>
            <input type="submit" Value="submit">
        </form>
    </div>
</main>
{% endblock %}